.brand {
    height: 60px;
    float: left;
    padding: 0 20px;
    line-height: 60px;
    font-size: 24px;
    color: #fff;
}
.layui-header {
    background-color: #393D49;
}

.layui-header {
    height: 60px;
}
@media (max-width: 480px) {
    .layui-header {
        height: 120px;
    }
}
.layui-nav {
    float: left;
}
.userinfo {
    float: right;
}
.layui-container {
    background-color: #F2F2F2;;
}
.main > div {
    padding: 30px 15px;
}
.card-footer {
    position: relative;
    height: 42px;
    line-height: 42px;
    padding: 0 15px;
    border-top: 1px solid #f6f6f6;
    color: #333;
    border-radius: 2px 2px 0 0;
    font-size: 14px;
}
.card-footer-left {
    float: left;
}
.card-footer-right {
    float: right;
    height: 42px;
    line-height: 42px;
}
.card-footer-right button {
    margin-top: 2px;
}
.praise-active {
    color: #5FB878;
}
.praise-active i {
    color: #5FB878;
}
.sidebar .layui-table td, .sidebar .layui-table th {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    text-indent: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.layui-table-page {
    margin-top: 30px;
    padding: 7px 0;
}
.layui-table-page > div {
    background: #fff;
}
.writer {
    margin-top: 10px;
    float: right;
}
.layui-collapse {
    background: #fff;
}
.layui-colla-title {
    background: #c2c2c2;
}
.title-time {
    float: right;
}
.site-block {
    border: 1px solid #eee;
    background: #fff;
}
.site-block .layui-input-block {
    text-align: right;
    padding: 9px 15px;
}
.site-block .layui-form-label {
    line-height: 55px;
}
.site-block .layui-form-item {
    border-bottom: 1px solid #eee;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 55px;
}
.layui-table {
    margin-bottom: 30px;
}
.password {
    margin-top: 40px;
    padding: 0 30px;
}
.layui-form-label span {
    color: red;
}
.close {
    float: right;
}
img{
    max-width: 100%;
}
.layui-upload-img {
    width: 48px;
    height: 48px;
}
.layui-layedit {
    background: #fff;
}
.layui-disabled {
    cursor: not-allowed!important;
    pointer-events: none;
}
.layui-table-page > div {
    padding: 7px 0;
}